<a href="https://colab.research.google.com/github/feniltailor22/Feature-Engineering/blob/main/5)_Handling_Categorical_Features_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ordinal Number Encoding**

An ordinal encoding involves mapping each unique label to an integer value.

This type of encoding is really only appropriate if there is a known relationship between the categories.

In [ ]:
import datetime

In [ ]:
today_date= datetime.datetime.today()

In [ ]:
today_date

datetime.datetime(2021, 12, 19, 19, 30, 4, 66333)

In [ ]:
#Timedelta Represent the difference between two datetime objects.

today_date-datetime.timedelta(1)
#today-1 day difference

datetime.datetime(2021, 12, 18, 19, 30, 4, 66333)

In [ ]:
today_date-datetime.timedelta(2)
#today-2 day difference

datetime.datetime(2021, 12, 17, 19, 30, 4, 66333)

In [ ]:
days=[]
for i in range(0,15):
  days.append(today_date-datetime.timedelta(i))

In [ ]:
days

[datetime.datetime(2021, 12, 19, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 18, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 17, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 16, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 15, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 14, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 13, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 12, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 11, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 10, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 9, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 8, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 7, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 6, 19, 30, 4, 66333),
 datetime.datetime(2021, 12, 5, 19, 30, 4, 66333)]

In [ ]:
import pandas as pd

data= pd.DataFrame(data=days, columns=['Day'])
data

                          Day
0  2021-12-19 19:30:04.066333
1  2021-12-18 19:30:04.066333
2  2021-12-17 19:30:04.066333
3  2021-12-16 19:30:04.066333
4  2021-12-15 19:30:04.066333
5  2021-12-14 19:30:04.066333
6  2021-12-13 19:30:04.066333
7  2021-12-12 19:30:04.066333
8  2021-12-11 19:30:04.066333
9  2021-12-10 19:30:04.066333
10 2021-12-09 19:30:04.066333
11 2021-12-08 19:30:04.066333
12 2021-12-07 19:30:04.066333
13 2021-12-06 19:30:04.066333
14 2021-12-05 19:30:04.066333

In [41]:
data['WeekDay']= data['Day'].dt.day_name()
data['Date']= data['Day'].dt.date
data['Year']= data['Day'].dt.year
data['Month']= data['Day'].dt.month
data

                          Day    WeekDay        Date  Year  Month
0  2021-12-19 19:30:04.066333     Sunday  2021-12-19  2021     12
1  2021-12-18 19:30:04.066333   Saturday  2021-12-18  2021     12
2  2021-12-17 19:30:04.066333     Friday  2021-12-17  2021     12
3  2021-12-16 19:30:04.066333   Thursday  2021-12-16  2021     12
4  2021-12-15 19:30:04.066333  Wednesday  2021-12-15  2021     12
5  2021-12-14 19:30:04.066333    Tuesday  2021-12-14  2021     12
6  2021-12-13 19:30:04.066333     Monday  2021-12-13  2021     12
7  2021-12-12 19:30:04.066333     Sunday  2021-12-12  2021     12
8  2021-12-11 19:30:04.066333   Saturday  2021-12-11  2021     12
9  2021-12-10 19:30:04.066333     Friday  2021-12-10  2021     12
10 2021-12-09 19:30:04.066333   Thursday  2021-12-09  2021     12
11 2021-12-08 19:30:04.066333  Wednesday  2021-12-08  2021     12
12 2021-12-07 19:30:04.066333    Tuesday  2021-12-07  2021     12
13 2021-12-06 19:30:04.066333     Monday  2021-12-06  2021     12
14 2021-12-05 19:30:04.066333     Sunday  2021-12-05  2021     12

In [45]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [46]:
dictionary

{'Friday': 5,
 'Monday': 1,
 'Saturday': 6,
 'Sunday': 7,
 'Thursday': 4,
 'Tuesday': 2,
 'Wednesday': 3}

In [49]:
data['WeekDay_Ordinal']= data['WeekDay'].map(dictionary)
data

                          Day    WeekDay  ... Month  WeekDay_Ordinal
0  2021-12-19 19:30:04.066333     Sunday  ...    12                7
1  2021-12-18 19:30:04.066333   Saturday  ...    12                6
2  2021-12-17 19:30:04.066333     Friday  ...    12                5
3  2021-12-16 19:30:04.066333   Thursday  ...    12                4
4  2021-12-15 19:30:04.066333  Wednesday  ...    12                3
5  2021-12-14 19:30:04.066333    Tuesday  ...    12                2
6  2021-12-13 19:30:04.066333     Monday  ...    12                1
7  2021-12-12 19:30:04.066333     Sunday  ...    12                7
8  2021-12-11 19:30:04.066333   Saturday  ...    12                6
9  2021-12-10 19:30:04.066333     Friday  ...    12                5
10 2021-12-09 19:30:04.066333   Thursday  ...    12                4
11 2021-12-08 19:30:04.066333  Wednesday  ...    12                3
12 2021-12-07 19:30:04.066333    Tuesday  ...    12                2
13 2021-12-06 19:30:04.066333     Monday  ...    12                1
14 2021-12-05 19:30:04.066333     Sunday  ...    12                7

[15 rows x 6 columns]

**Count Or Frequency Encoding**

Mapping the categories with its frequency in a given feature columns

In [112]:
df= pd.read_csv('/content/mercedes.csv', usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [113]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [114]:
for i in df.columns:
  print('Feature: ', i, ', Categories: ', len(df[i].unique()))

Feature:  X0 , Categories:  47
Feature:  X1 , Categories:  27
Feature:  X2 , Categories:  44
Feature:  X3 , Categories:  7
Feature:  X4 , Categories:  4
Feature:  X5 , Categories:  29
Feature:  X6 , Categories:  12

In [118]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
i      18
aq     18
am     18
u      17
l      16
aw     16
ad     14
au     11
k      11
b      11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
g       1
ab      1
ac      1
Name: X0, dtype: int64

In [120]:
X0_map= df['X0'].value_counts().to_dict()
X0_map

{'a': 21,
 'aa': 2,
 'ab': 1,
 'ac': 1,
 'ad': 14,
 'af': 35,
 'ai': 34,
 'aj': 151,
 'ak': 349,
 'al': 67,
 'am': 18,
 'ao': 4,
 'ap': 103,
 'aq': 18,
 'as': 10,
 'at': 25,
 'au': 11,
 'aw': 16,
 'ax': 19,
 'ay': 313,
 'az': 175,
 'b': 11,
 'ba': 27,
 'bc': 6,
 'c': 3,
 'd': 73,
 'e': 32,
 'f': 227,
 'g': 1,
 'h': 75,
 'i': 18,
 'j': 181,
 'k': 11,
 'l': 16,
 'm': 34,
 'n': 195,
 'o': 269,
 'q': 2,
 'r': 10,
 's': 106,
 't': 306,
 'u': 17,
 'v': 36,
 'w': 182,
 'x': 300,
 'y': 324,
 'z': 360}

In [121]:
df['X0_freq_map']= df['X0'].map(X0_map)

In [122]:
df

      X0 X1  X2 X3 X4  X5 X6  X0_freq_map
0      k  v  at  a  d   u  j           11
1      k  t  av  e  d   y  l           11
2     az  w   n  c  d   x  j          175
3     az  t   n  f  d   x  l          175
4     az  v   n  f  d   h  d          175
...   .. ..  .. .. ..  .. ..          ...
4204  ak  s  as  c  d  aa  d          349
4205   j  o   t  d  d  aa  h          181
4206  ak  v   r  a  d  aa  g          349
4207  al  r   e  f  d  aa  l           67
4208   z  r  ae  c  d  aa  g          360

[4209 rows x 8 columns]

**Advantages**
1. Easy To Use
2. Not increasing feature space 

**Disadvantages**
1. It will provide same weight if the frequencies are same

**Target Guided Ordinal Encoding**
1. Ordering the labels according to the target
2. Replace the labels by the joint probability of being 1 or 0

In [124]:
df=pd.read_csv('/content/titanic_train.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Cabin     204 non-null    object
dtypes: int64(1), object(1)
memory usage: 14.0+ KB

In [125]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [126]:
len(df['Cabin'].unique())

148

In [128]:
df['Cabin'].fillna('Missing', inplace=True)

In [129]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [130]:
df['Cabin'].astype('str')

0      Missing
1          C85
2      Missing
3         C123
4      Missing
        ...
886    Missing
887        B42
888    Missing
889       C148
890    Missing
Name: Cabin, Length: 891, dtype: object

In [132]:
#Grabbing the first letter of categories:
df['Cabin'].astype('str').str[0]

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [133]:
df['First_Letter']= df['Cabin'].astype('str').str[0]

In [134]:
df

     Survived    Cabin First_Letter
0           0  Missing            M
1           1      C85            C
2           1  Missing            M
3           1     C123            C
4           0  Missing            M
..        ...      ...          ...
886         0  Missing            M
887         1      B42            B
888         0  Missing            M
889         1     C148            C
890         0  Missing            M

[891 rows x 3 columns]

In [135]:
df['First_Letter'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [148]:
df.groupby(by=['First_Letter'])['Survived'].mean().sort_values()
#Here we are sorting the value according to its means to extract thge importace of the category with respect to target(survived).

First_Letter
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [143]:
ordinal_labels= df.groupby(by=['First_Letter'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='First_Letter')

In [145]:
ordinal_labels_imp= {k:i for i,k in enumerate(iterable=ordinal_labels, start=0)}
ordinal_labels_imp

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [146]:
df['Ordinal_with_Importance']= df['First_Letter'].map(ordinal_labels_imp)

In [147]:
df

     Survived    Cabin First_Letter  Ordinal_with_Importance
0           0  Missing            M                        1
1           1      C85            C                        4
2           1  Missing            M                        1
3           1     C123            C                        4
4           0  Missing            M                        1
..        ...      ...          ...                      ...
886         0  Missing            M                        1
887         1      B42            B                        6
888         0  Missing            M                        1
889         1     C148            C                        4
890         0  Missing            M                        1

[891 rows x 4 columns]

**Mean Encoding**

In [152]:
mean_ordinal= df.groupby(by=['First_Letter'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [153]:
df['Mean_Ordinal']= df['First_Letter'].map(mean_ordinal)

In [154]:
df

     Survived    Cabin First_Letter  Ordinal_with_Importance  Mean_Ordinal
0           0  Missing            M                        1      0.299854
1           1      C85            C                        4      0.593220
2           1  Missing            M                        1      0.299854
3           1     C123            C                        4      0.593220
4           0  Missing            M                        1      0.299854
..        ...      ...          ...                      ...           ...
886         0  Missing            M                        1      0.299854
887         1      B42            B                        6      0.744681
888         0  Missing            M                        1      0.299854
889         1     C148            C                        4      0.593220
890         0  Missing            M                        1      0.299854

[891 rows x 5 columns]

**Probability Ratio Encoding**

1. Probability of Survived based on Cabin--- Categorical Feature
2. Probability of Not Survived---1-pr(Survived)
3. pr(Survived)/pr(Not Survived)
4. Dictonary to map cabin with probability
5. replace with the categorical feature

In [177]:
df=pd.read_csv('titanic_train.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [178]:
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [179]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [180]:
df['First_Letter']=df['Cabin'].astype(str).str[0]
df.head()

   Survived    Cabin First_Letter
0         0  Missing            M
1         1      C85            C
2         1  Missing            M
3         1     C123            C
4         0  Missing            M

In [181]:
df['First_Letter'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [182]:
prob_df=df.groupby(['First_Letter'])['Survived'].mean()

In [183]:
prob_df=pd.DataFrame(prob_df)
prob_df

              Survived
First_Letter
A             0.466667
B             0.744681
C             0.593220
D             0.757576
E             0.750000
F             0.615385
G             0.500000
M             0.299854
T             0.000000

In [184]:
prob_df['Died']=1-prob_df['Survived']

In [185]:
prob_df.head()

              Survived      Died
First_Letter
A             0.466667  0.533333
B             0.744681  0.255319
C             0.593220  0.406780
D             0.757576  0.242424
E             0.750000  0.250000

In [186]:
prob_df['Probability_ratio']=prob_df['Survived']/prob_df['Died']
prob_df.head()

              Survived      Died  Probability_ratio
First_Letter
A             0.466667  0.533333           0.875000
B             0.744681  0.255319           2.916667
C             0.593220  0.406780           1.458333
D             0.757576  0.242424           3.125000
E             0.750000  0.250000           3.000000

In [187]:
probability_encoded=prob_df['Probability_ratio'].to_dict()
probability_encoded

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [188]:
df['Cabin_with_Prob']=df['First_Letter'].map(probability_encoded)
df.head()

   Survived    Cabin First_Letter  Cabin_with_Prob
0         0  Missing            M         0.428274
1         1      C85            C         1.458333
2         1  Missing            M         0.428274
3         1     C123            C         1.458333
4         0  Missing            M         0.428274